doctype html
html
    head
        link(rel='stylesheet', href='ui-dark.css')
        script(src='base.js')
        script(src='ui.js')
    body
        style
          include earth.css
    
        include earth.html